# VacationPy

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [9]:
# Load in cities csv and store as a dataframe
cities_data = pd.read_csv("output_data/cities.csv")
cities_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Atuona,-9.80,-139.03,26.03,75,21,6.87,PF,1608506082
1,Hilo,19.73,-155.09,27.00,74,75,2.10,US,1608505835
2,Palmer,42.16,-72.33,0.00,100,90,2.36,US,1608506083
3,Ushuaia,-54.80,-68.30,11.00,49,40,13.40,AR,1608505952
4,Vaini,-21.20,-175.20,29.00,79,20,7.20,TO,1608506084
...,...,...,...,...,...,...,...,...,...
565,Praia da Vitória,38.73,-27.07,18.33,100,75,13.81,PT,1608506142
566,Isangel,-19.55,169.27,29.00,74,40,2.60,VU,1608506142
567,Kerman,30.28,57.08,0.00,67,0,0.34,IR,1608506143
568,Udachny,66.42,112.40,-37.00,65,0,2.00,RU,1608506143
569,Buraidah,26.33,43.98,14.00,87,0,4.10,SA,1608506143

### Humidity Heatmap

In [10]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations and convert humidity to float
locations = cities_data[["Lat", "Lng"]]
humidity = cities_data["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map

In [19]:
# Filter cities by ideal weather conditions and drop any null values
ideal_cities = cities_data.loc[(cities_data["Max Temp"] >= 26) & (cities_data["Wind Speed"] < 4.47) \
                                & (cities_data["Humidity"] <= 50)].dropna()
ideal_cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
99,Yeppoon,-23.13,150.73,31.00,48,22,3.60,AU,1608506092
264,General Roca,-39.03,-67.58,27.00,24,0,2.60,AR,1608506114
405,Jesús María,-30.98,-64.09,26.67,43,0,3.10,AR,1608506127
430,Monte Patria,-30.69,-70.95,26.49,19,0,2.75,CL,1608506130
451,Neuquén,-38.95,-68.06,27.00,24,0,2.60,AR,1608505965
456,San José de Río Tinto,14.93,-85.70,30.00,48,40,1.58,HN,1608506132
542,Rondonópolis,-16.47,-54.64,30.55,46,99,0.92,BR,1608506002

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df = ideal_cities[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                      City Country    Lat     Lng Hotel Name
99                 Yeppoon      AU -23.13  150.73
264           General Roca      AR -39.03  -67.58
405            Jesús María      AR -30.98  -64.09
430           Monte Patria      CL -30.69  -70.95
451                Neuquén      AR -38.95  -68.06
456  San José de Río Tinto      HN  14.93  -85.70
542           Rondonópolis      BR -16.47  -54.64

In [21]:
# Params dictionary to update each iteration
params = {
    "radius": 5000,
    "keyword": "hotel",
    "key": g_key
}

# Use cities' latitudes and longitudes to identify hotels
for index, row in hotel_df.iterrows():
    
    # Get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # Change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request
    hotel_name = requests.get(base_url, params=params).json()

    # Pass any missing data with exception handling
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
    except (KeyError, IndexError):
        pass

hotel_df

,City,Country,Lat,Lng,Hotel Name
99,Yeppoon,AU,-23.13,150.73,Yeppoon Beach House
264,General Roca,AR,-39.03,-67.58,Estepa Hotel
405,Jesús María,AR,-30.98,-64.09,Casa del Friuli - Hotel Restaurant
430,Monte Patria,CL,-30.69,-70.95,Hotel Monte Cordillera
451,Neuquén,AR,-38.95,-68.06,Hilton Garden Inn Neuquen
456,San José de Río Tinto,HN,14.93,-85.70,
542,Rondonópolis,BR,-16.47,-54.64,Comfort Hotel & Suites Rondonópolis

In [22]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [23]:
# Add marker layer ontop of heatmap
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))